body{
    background-image: url("bg.jpg") ;
    background-position: center;
    background-size: cover;
    
}
#container{
    width: 90%;
    max-width:360px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(7,75px);
    background-color: rgb(0, 0, 0);
    column-gap: 20px;
    padding: 15px 15px 7px 15px;
    row-gap: 7px;
    justify-content: space-evenly;
    font-size: 30px;
    font-family: ubuntu,sans-serif;
    border-radius: 10px;
    box-shadow:0px 0px 7px 7px rgb(115, 115, 115);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#screen{
    grid-column: 1/ -1;
    grid-row: span 2;
    border: none;
    margin-bottom: 20px;
    border-bottom: solid 2px rgb(66, 66, 66);
    color: white;
    overflow-wrap: break-word;
}
.button{
    text-align: center;
    padding-top:18px;
    border-radius: 100%;  

}
.feat{
    color: rgb(187, 106, 255);
}
.num{
    color: palevioletred;
}
.clicked{
    background-color: rgb(52, 49, 49);
    transform: scale(0.85,0.85);
    transition: all 0.2s ease;
}
div{
    border: solid 2px rgb(66, 66, 66);
}
